Repository tskit-dev/tskit: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

turns out the documentation build doesn't like ``result_dim``s changing to ``result_dim`` fixes the docs.
  python/tskit/trees.py
Due: Python API

fix one C test that relied on tsk_treeseq_two_locus_count_stat
  c/tests/test_stats.c
Due: C library

Update docstring (feedback from Peter)
  python/tskit/trees.py
Due: Python API

clarify comment about norm func
  python/tests/test_ld_matrix.py
Due: none

use general stat function in C test
  c/tests/test_stats.c
  c/tskit/trees.c
  c/tskit/trees.h
  python/_tskitmodule.c
Due: Python C interface, C library

make tsk_treeseq_two_locus_count_stat private
  c/tskit/trees.c
  c/tskit/trees.h
Due: C library

clarify comment a bit
  c/tskit/trees.c
Due: C library

Move C code for json+struct codec to an example in the docs
  c/examples/Makefile
  c/examples/json_struct_metadata.c
  c/meson.build
  docs/c-api.rst
  docs/development.md
  docs/metadata.md
Due: C library

Support `node_labels` in `write_nexus` via `TRANSLATE`
  python/CHANGELOG.rst
  python/tests/test_phylo_formats.py
  python/tskit/text_formats.py
  python/tskit/trees.py
Due: Python API

remove superfluous docstrings (comments from peter)
  python/tests/test_ld_matrix.py
Due: none

incorporate Aaron's comments, add links to two-locus docs, a bit of tidying
  python/tskit/trees.py
Due: Python API

add computational details section
  docs/stats.md
Due: none

padding bytes in json+struct codec
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
  docs/c-api.rst
  python/tests/test_metadata.py
  python/tskit/metadata.py
Due: Python API, C library

change codecov to ignore C examples
  codecov.yml
Due: C library

remove test code to check codecov DO NOT MERGE
  c/tests/test_tables.c
Due: C library

More carefully define two-locus haplotypes in docs
  docs/stats.md
Due: none

Add tables.load docstring
  python/CHANGELOG.rst
  python/tskit/tables.py
Due: Python API

In svg_draw, move the y axis when there's a title
  python/CHANGELOG.rst
  python/tests/data/svg/ts_y_axis.svg
  python/tests/test_drawing.py
  python/tskit/drawing.py
Due: Python API

version bump
  python/CHANGELOG.rst
  python/tskit/_version.py
Due: Python API

fix to changelog
  python/CHANGELOG.rst
Due: none

start of next version
  python/CHANGELOG.rst
  python/tskit/_version.py
Due: Python API

Fix normalisation for pair coalescence stats when there are isolated samples
  c/tests/test_stats.c
  c/tskit/trees.c
  python/tests/test_coalrate.py
  python/tskit/trees.py
Due: Python API, C library

Update python/tskit/trees.py
  python/tskit/trees.py
Due: Python API

Correct ref typo in write_vcf docs
  python/tskit/trees.py
Due: Python API

Add a sentence about saving using Bio.bgzf
  docs/export.md
Due: none

update codecov action to fix broken gpg key, and bump tskit actions
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Path conditions:
  Python API: any of: python/tskit/*.py
  Python C interface: any of: python/_tskitmodule.c
  C library: any of: c
