Repository tskit-dev/tskit: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

codecov.yml:

# ignore:
#   - "lib/tests/"
#   - "lib/dev-tools/"
#   - "lib/avl.c"
#   - "lib/subprojects/**/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_code
      name: Python API
      paths:
        - python/tskit/*.py

    - component_id: python_c_code
      name: Python C interface
      paths:
        - python/_tskitmodule.c

    - component_id: c_code
      name: C library
      paths:
        - c

#
# codecov:
#   require_ci_to_pass: false
# comment:
#   layout: "diff, flags, files"
# fixes:
#   - "tskit/::python/tskit/"
# flag_management:
#   individual_flags:
#     - name: python-tests
#       paths:
#         - python/tskit/*.py
#       statuses:
#         - type: project
#           target: 95%
#     - name: python-c-tests
#       paths:
#         - python/_tskitmodule.c
#       statuses:
#         - type: project
#           target: 85%
#     - name: c-tests
#       paths:
#         - c/tskit/*.c
#         - c/tskit/*.h
#       statuses:
#         - type: project
#           target: 85%
#     - name: lwt-tests
#       paths:
#         - python/lwt_interface/*.c
#         - python/lwt_interface/*.h
#       statuses:
#         - type: project
#           target: 80%

Add struct codec to the binary side
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
  python/CHANGELOG.rst
  python/tests/test_metadata.py
  python/tskit/metadata.py
Due: Python API, C library

Return both json and blob
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
Due: C library

Add C helper
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
Due: C library

one more reformat jitter
  c/tskit/trees.c
Due: C library

initial stab at a general matrix (no normalisation)
  c/tskit/trees.c
  c/tskit/trees.h
  python/_tskitmodule.c
  python/tskit/trees.py
Due: Python API, Python C interface, C library

reformat jitter
  python/tskit/trees.py
Due: Python API

added dimension dropping, but I think transposing is better -- we don't have to add a dimension at the end for scalar operations
  python/_tskitmodule.c
  python/tskit/trees.py
Due: Python API, Python C interface

finalize and add tests for single and multipop
  python/_tskitmodule.c
  python/tests/test_ld_matrix.py
  python/tskit/trees.py
Due: Python API, Python C interface

formatting jitter
  python/tests/test_ld_matrix.py
Due: none

do not test equality, this was useful on my local machine but is problematic in practice
  python/tests/test_ld_matrix.py
Due: none

fix up a bit of naming in general test funcs, remove unneeded branch, fix norm func for r2_ij
  python/tests/test_ld_matrix.py
Due: none

one more one more reformat jitter
  python/tests/test_ld_matrix.py
Due: none

turns out, the general norm function needs to know the state_dims
  c/tskit/trees.c
  c/tskit/trees.h
  python/_tskitmodule.c
Due: Python C interface, C library

and black doesn't like that
  python/tests/test_ld_matrix.py
Due: none

flake8 does not like assigning lambdas to variables
  python/tests/test_ld_matrix.py
Due: none

lowlevel tests
  python/tests/test_python_c.py
Due: none

relax diff requirements (macos failure)
  python/tests/test_ld_matrix.py
Due: none

relax diff requirements (macos failure) -- previous commit fixed one
  python/tests/test_ld_matrix.py
Due: none

new formatting tools, fix lint
  python/_tskitmodule.c
  python/tests/test_python_c.py
  python/tskit/trees.py
Due: Python API, Python C interface

remove TODOs, old comment and tested elsewhere
  python/_tskitmodule.c
  python/tests/test_python_c.py
Due: Python C interface

Edit trees.py to add docstring to ld_matrix()
  python/tskit/trees.py
Due: Python API

add section title
  docs/stats.md
Due: none

Add, edit, streamline two-locus docs
  docs/stats.md
Due: none

Address comments from Jerome
  docs/stats.md
  python/tskit/trees.py
Due: Python API

Add changelog change
  python/CHANGELOG.rst
Due: none

remove consts from tsk_json_struct_metadata_get_blob (closes #3425)
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
Due: C library

edits to dev docs
  docs/development.md
Due: none

no detached head; closes #3431
  docs/development.md
Due: none

remove prompts from bash commands for copyability; closes #3430
  docs/development.md
  docs/export.md
  docs/installation.md
  docs/provenance.md
Due: none

further clarify uv subdir; closes #3429
  docs/development.md
Due: none

installation on macos; closes #3432
  docs/development.md
Due: none

note about debug build; closes #3433
  docs/development.md
Due: none

Trigger lint on merge queue
  .github/workflows/lint.yml
Due: none

memory alignment in tsk_json_struct_metadata_get_blob
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
Due: C library

python padding
  python/tests/test_metadata.py
  python/tskit/metadata.py
Due: Python API

python docs
  python/tskit/metadata.py
Due: Python API
