Repository tskit-dev/tskit: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

installation on macos; closes #3432
  docs/development.md
Due: none

further clarify uv subdir; closes #3429
  docs/development.md
Due: none

no detached head; closes #3431
  docs/development.md
Due: none

edits to dev docs
  docs/development.md
Due: none

remove prompts from bash commands for copyability; closes #3430
  docs/development.md
  docs/export.md
  docs/installation.md
  docs/provenance.md
Due: none

uv run gdb in dev docs
  docs/development.md
Due: none

Add documentation for ts.ld_matrix()
  docs/stats.md
  python/CHANGELOG.rst
  python/tskit/trees.py
Due: Python API

Return on summary function error (bug)
  c/tskit/trees.c
Due: C library

regain test coverage for default sample sets
  python/tests/test_ld_matrix.py
Due: none

added dimension dropping, but I think transposing is better -- we don't have to add a dimension at the end for scalar operations
  python/_tskitmodule.c
  python/tskit/trees.py
Due: Python API, Python C interface

finalize and add tests for single and multipop
  c/tskit/trees.c
  python/_tskitmodule.c
  python/tests/test_ld_matrix.py
  python/tskit/trees.py
Due: Python API, Python C interface, C library

remove TODOs, old comment and tested elsewhere
  python/_tskitmodule.c
  python/tests/test_python_c.py
Due: Python C interface

Fix memory leak; more readonly arrays
  python/_tskitmodule.c
Due: Python C interface

and black doesn't like that
  python/tests/test_ld_matrix.py
Due: none

Incorporate Peter's improvement to the test comments
  python/tests/test_python_c.py
Due: none

Add/refine tests, draft docstring
  python/tests/test_ld_matrix.py
  python/tskit/trees.py
Due: Python API

preserve native dimensions instead of expanding at the end
  python/tests/test_ld_matrix.py
  python/tskit/trees.py
Due: Python API

relax diff requirements (macos failure) -- previous commit fixed one
  python/tests/test_ld_matrix.py
Due: none

Clean up python C tests
  python/tests/test_python_c.py
Due: none

do not test equality, this was useful on my local machine but is problematic in practice
  python/tests/test_ld_matrix.py
Due: none

turns out, the general norm function needs to know the state_dims
  c/tskit/trees.c
  c/tskit/trees.h
  python/_tskitmodule.c
Due: Python C interface, C library

Revert "regain test coverage for default sample sets"
  python/tests/test_ld_matrix.py
Due: none

relax diff requirements (macos failure)
  python/tests/test_ld_matrix.py
Due: none

flake8 does not like assigning lambdas to variables
  python/tests/test_ld_matrix.py
Due: none

fix up a bit of naming in general test funcs, remove unneeded branch, fix norm func for r2_ij
  python/tests/test_ld_matrix.py
Due: none

update comment about result dimension
  python/tskit/trees.py
Due: Python API

make testing more clear
  python/tests/test_ld_matrix.py
  python/tests/tsutil.py
Due: none

linting does not like assigning lambdas to variables
  python/tskit/trees.py
Due: Python API

Test explicitly that our internal data is read only
  python/tests/test_python_c.py
Due: none

lowlevel tests
  python/tests/test_python_c.py
Due: none

new formatting tools, fix lint
  python/_tskitmodule.c
  python/tests/test_python_c.py
  python/tskit/trees.py
Due: Python API, Python C interface

Add some minimal documentation about the purpose of the two entrypoints
  c/tskit/trees.c
Due: C library

initial stab at a general matrix (no normalisation)
  c/tskit/trees.c
  c/tskit/trees.h
  python/_tskitmodule.c
  python/tskit/trees.py
Due: Python API, Python C interface, C library

add a few more tests (review)
  python/tests/test_ld_matrix.py
Due: none

add an else statement to improve readability (review)
  c/tskit/trees.c
Due: C library

msprime produces different trees on macos (same seed)
  python/tests/test_python_c.py
Due: none

Update tests according to Peters's feedback
  c/tskit/trees.c
  python/tests/test_ld_matrix.py
  python/tests/test_python_c.py
  python/tskit/trees.py
Due: Python API, C library

be more explicit about setting the default norm function
  python/tskit/trees.py
Due: Python API

Path conditions:
  Python API: any of: python/tskit/*.py
  Python C interface: any of: python/_tskitmodule.c
  C library: any of: c
