Repository tskit-dev/tskit: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

codecov.yml:

# ignore:
#   - "lib/tests/"
#   - "lib/dev-tools/"
#   - "lib/avl.c"
#   - "lib/subprojects/**/*"

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  individual_components:
    - component_id: python_code
      name: Python API
      paths:
        - python/tskit/*.py

    - component_id: python_c_code
      name: Python C interface
      paths:
        - python/_tskitmodule.c

    - component_id: c_code
      name: C library
      paths:
        - c

#
# codecov:
#   require_ci_to_pass: false
# comment:
#   layout: "diff, flags, files"
# fixes:
#   - "tskit/::python/tskit/"
# flag_management:
#   individual_flags:
#     - name: python-tests
#       paths:
#         - python/tskit/*.py
#       statuses:
#         - type: project
#           target: 95%
#     - name: python-c-tests
#       paths:
#         - python/_tskitmodule.c
#       statuses:
#         - type: project
#           target: 85%
#     - name: c-tests
#       paths:
#         - c/tskit/*.c
#         - c/tskit/*.h
#       statuses:
#         - type: project
#           target: 85%
#     - name: lwt-tests
#       paths:
#         - python/lwt_interface/*.c
#         - python/lwt_interface/*.h
#       statuses:
#         - type: project
#           target: 80%

Add stdin support to the tskit CLI
  python/CHANGELOG.rst
  python/tests/test_cli.py
  python/tskit/cli.py
Due: Python API

Simplify CLI stdin implementation
  python/CHANGELOG.rst
  python/tests/test_cli.py
  python/tskit/cli.py
Due: Python API

Force UTF-8 in CLI subprocess tests for Windows
  python/tests/test_cli.py
Due: none

Add zizmor and harden GitHub Actions workflows
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release-c.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
  .github/zizmor.yml
  prek.toml
  python/pyproject.toml
  python/uv.lock
Due: none

Pin tskit-dev shared workflows to v18
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pass CODECOV_TOKEN explicitly and pin shared workflows to v19
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Use declarative docs-build inputs instead of pre-build-command
  .github/workflows/docs.yml
Due: none

Pin docs workflow to v20
  .github/workflows/docs.yml
Due: none

Make sure that variant.count() returns alleles in an order
  python/CHANGELOG.rst
  python/tests/test_genotypes.py
  python/tskit/genotypes.py
Due: Python API

minor adjustments
  docs/metadata.md
Due: none

metadata access counter; closes #3472 and add metadata_size property
  docs/metadata.md
  docs/python-api.md
  python/CHANGELOG.rst
  python/_tskitmodule.c
  python/tests/test_highlevel.py
  python/tests/test_immutable_table_collection.py
  python/tests/test_metadata.py
  python/tests/test_python_c.py
  python/tests/test_tables.py
  python/tests/tsutil.py
  python/tskit/__init__.py
  python/tskit/metadata.py
  python/tskit/tables.py
  python/tskit/trees.py
Due: Python API, Python C interface

Periodic uv sync -U package update
  python/uv.lock
Due: none

Update build-wheels workflow version to v21
  .github/workflows/wheels.yml
Due: none

Update to kastore version 2.1.3
  c/CHANGELOG.rst
  c/subprojects/kastore/VERSION.txt
  c/subprojects/kastore/kastore.c
  c/subprojects/kastore/kastore.h
  python/tests/test_python_c.py
Due: C library

Update Python CHANGELOG for kastore version update
  python/CHANGELOG.rst
Due: none

add note about developing docs
  docs/development.md
Due: none

acknowledge funding and update citations
  README.md
  docs/citation.md
Due: none

note on debugging
  docs/_toc.yml
  docs/debugging.md
Due: none

Fix off-by-one node bounds check in link_ancestors
  c/CHANGELOG.rst
  c/tests/test_tables.c
  c/tskit/tables.c
  python/tests/test_python_c.py
Due: C library

Fix off-by-one node bounds check in IBD sample validation
  c/CHANGELOG.rst
  c/tests/test_tables.c
  c/tskit/tables.c
Due: C library

Check table integrity in delete_older
  c/CHANGELOG.rst
  c/tests/test_tables.c
  c/tskit/tables.c
  python/CHANGELOG.rst
  python/tests/test_table_transforms.py
Due: C library

Fix buffer overreads in C tests found by ASan
  c/tests/test_tables.c
  c/tests/test_trees.c
Due: C library

Validate GNN parameters before allocating
  c/CHANGELOG.rst
  c/tskit/trees.c
Due: C library
