Repository tskit-dev/tskit: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

Updates to docs for uv etc
  docs/development.md
Due: none

Refresh packages to use new msprime etc
  python/pyproject.toml
  python/uv.lock
Due: none

Fixup tests on changed error messages
  python/tests/test_python_c.py
Due: none

Simplify C release process
  .github/workflows/release.yml
  docs/convert_changelog.py
  docs/development.md
Due: none

Update changelog and C changes for 1.3.1
  c/CHANGELOG.rst
  c/VERSION.txt
  c/tskit/core.h
Due: C library

Udpate C lib version numbers in tests
  python/tests/test_python_c.py
Due: none

Update Python changelog and version for 1.0.2
  python/CHANGELOG.rst
  python/tskit/_version.py
Due: Python API

Add new section to C changelog
  c/CHANGELOG.rst
Due: C library

Don't build wheels on C release
  .github/workflows/wheels.yml
Due: none

Follow kastore patterns exactly
  .github/workflows/release-c.yml
Due: none

Post-release for Python 1.0.2
  python/CHANGELOG.rst
  python/tskit/_version.py
Due: Python API

Remove section on Python version support
  docs/development.md
Due: none

Address comments from Jerome
  docs/stats.md
  python/tskit/trees.py
Due: Python API

add section title
  docs/stats.md
Due: none

Edit trees.py to add docstring to ld_matrix()
  python/tskit/trees.py
Due: Python API

Add, edit, streamline two-locus docs
  docs/stats.md
Due: none

Try unversioned lint
  .github/workflows/lint.yml
Due: none

Update workflows
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pin to v15
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release-c.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Add C helper
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
Due: C library

Return both json and blob
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
Due: C library

Add json+binary codec
  python/CHANGELOG.rst
  python/tests/test_metadata.py
  python/tskit/metadata.py
Due: Python API

Add struct codec to the binary side
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
  python/CHANGELOG.rst
  python/tests/test_metadata.py
  python/tskit/metadata.py
Due: Python API, C library

Various review updates
  c/CHANGELOG.rst
  c/tests/test_core.c
  c/tskit/core.c
  c/tskit/core.h
  docs/c-api.rst
  python/CHANGELOG.rst
  python/tskit/metadata.py
Due: Python API, C library

Path conditions:
  Python API: any of: python/tskit/*.py
  Python C interface: any of: python/_tskitmodule.c
  C library: any of: c
